@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: #303841;
    color: #eeeeee;
}

.coin-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #eeeeee;
}

.coin-search {
    margin: 20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #eeeeee;
}
.coin-text {
    margin-bottom: 32px;
    text-align: center;
    font-size: 4rem;
}
.coin-input {
    padding-left: 16px;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: 1px #00adb5 solid;
    outline: none;
    background-color: none;
}
.coin-input::placeholder {
    color: #eeeeee;
    font-size: 2rem;
}

@media only screen and (max-width: 350px) {
    .coin-input {
        width: 250px;
        height: 45px;
    }
}
